
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

#sidebar_name{
  margin-left: 25px
}

ul {
  margin: 0;
  padding-inline-start: 0px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

#links{
  position:fixed;
  bottom: 0;
  padding-bottom: 20px;
}

.title{
  margin-bottom: 3px;
}





svg:hover {
	-webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  fill: lightgrey
}

.header{
  display: flex
}

.header h1{
  width: 70%;
  margin: auto
}

#profile_pic img{
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 10px;
  height: 180px;
  width:180px
}

.content{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 50px;
}

.about_me{
  font-size: 30px;
  display: flex;
  align-content: flex-end;
  margin-top: 100px;
  width: 80%
}

.skills{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 70%;
}

.prof{
  margin-left: 30px;
  padding-right: 10%;
}

.exposed{
  margin-left: 30px;
}

.projects{
  display: block;
}

#proj_cards_cont{
  display: flex
}

/* #proj_cards_cont img{
  margin: 20px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  overflow: hidden
} */



@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  font-family: Abel, Arial, Verdana, sans-serif;
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
} */

.card {
  width: 450px;
  height: 250px;
  background-color: grey;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.user-card img {
  border-radius: 10%;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#080808, #080808);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card img {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


